body{
background: #ff9900 !important;
}
.new-price{
background:#ff9900 !important;
}
ul.category-menu li.active a:after{
background:#ff9900 !important;
}
.bottom_heading_div{
background: #ff9900 !important;
}
.bottom_img{
background: #ff9900 !important;
}