body{
background-image: url(../images/transprant_background/t4.png);
}
.new-price{
background-image: url(../images/transprant_background/t4.png);
}
ul.category-menu li.active a:after{
background-image: url(../images/transprant_background/t4.png);
}
.bottom_heading_div{
background-image: url(../images/transprant_background/t4.png);
}
.bottom_img{
background-image: url(../images/transprant_background/t4.png);
}
#preloader {
background-image: url(../images/transprant_background/t4.png);
}